*~
Makefile.breakpoints
Makefile.filter
Makefile.minreflenfilter
Makefile.split
bambamc-0.0.50-release-20140430085950.tar.gz
biobambam2-2.0.26-release-20160112195720-x86_64-etch-linux-gnu.tar.gz
biobambam2-2.0.26-release-20160112195720-x86_64-etch-linux-gnu/
chromFa.tar.gz
reference/
samtools-1.3.tar.bz2
samtools-1.3/
samtools/
smalt-0.7.6-static.tar.gz
smalt/
stats_0/
stats_10/
stats_15/
stats_20/
stats_25/
stats_5/
translocations-0.0.1-release-20160114112323-x86_64-etch-linux-gnu.tar.gz
translocations-0.0.1-release-20160114112323-x86_64-etch-linux-gnu/
*.bam
*.bai
*.met
